.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9.375rem);
  gap: 20px 10px;
  justify-content: center;
  height: fit-content;
}

@media (max-width: 30rem) {
  .wrapper {
    justify-content: space-around;
  }
}
